/* Colors */
/* Fonts */
/* Grid */
/* line 4, ../sass/_base.scss */
html, .content {
  /*----- Headers -----*/
  /*General Styles*/
  /*----- Lists in Columns -----*/
  /*----- General Link Styling -----*/
  /*----- Tabs Styling -----*/
  /*----- Links in Form Styling -----*/
  /*----- Box Module Styling -----*/
  /*----- MDM-Specific styling within Kendo elements-----*/
  /*----- Simple Item Styling -----*/
}
/* line 8, ../sass/_base.scss */
html h2, .content h2 {
  font-size: 1.5em;
}
/* line 12, ../sass/_base.scss */
html h3, .content h3 {
  font-size: 1.25em;
  line-height: 2em;
}
/* line 17, ../sass/_base.scss */
html h4, .content h4 {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}
/* line 24, ../sass/_base.scss */
html input, .content input {
  height: 15px;
  border: 1px solid #AAA;
  padding-left: 2px;
}
/* line 28, ../sass/_base.scss */
html input.small, .content input.small {
  width: 100px;
}
/* line 29, ../sass/_base.scss */
html input.mini, .content input.mini {
  width: 50px;
}
/* line 31, ../sass/_base.scss */
html select, .content select {
  height: 20px;
}
/* line 33, ../sass/_base.scss */
html select.medium, .content select.medium {
  width: 200px;
}
/* line 34, ../sass/_base.scss */
html select.small, .content select.small {
  width: 120px;
}
/* line 38, ../sass/_base.scss */
html .inline, .content .inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
/* line 47, ../sass/_base.scss */
html .inline-content div, .content .inline-content div {
  display: inline-block;
}
/* line 53, ../sass/_base.scss */
html ul.one-column > li, .content ul.one-column > li {
  width: 65%;
  vertical-align: top;
}
/* line 57, ../sass/_base.scss */
html ul.two-columns > li, .content ul.two-columns > li {
  width: 48%;
  vertical-align: top;
}
/* line 61, ../sass/_base.scss */
html ul.three-columns > li, .content ul.three-columns > li {
  width: 33%;
  vertical-align: top;
}
/* line 65, ../sass/_base.scss */
html ul.four-columns > li, .content ul.four-columns > li {
  width: 25%;
  vertical-align: top;
}
/* line 70, ../sass/_base.scss */
html .link, .content .link {
  color: #005082 !important;
  text-decoration: none !important;
  cursor: pointer;
}
/* line 74, ../sass/_base.scss */
html .link:hover, .content .link:hover {
  text-decoration: underline !important;
}
/* line 75, ../sass/_base.scss */
html .link.disabled, .content .link.disabled {
  color: #a0a0a0 !important;
  cursor: default;
}
/* line 78, ../sass/_base.scss */
html .link.disabled:hover, .content .link.disabled:hover {
  text-decoration: none !important;
}
/* line 82, ../sass/_base.scss */
html a, .content a {
  text-decoration: none !important;
}
/* line 85, ../sass/_base.scss */
html .tab-bar, .content .tab-bar {
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
/* line 90, ../sass/_base.scss */
html .tab-bar.grid-tabs, .content .tab-bar.grid-tabs {
  margin-bottom: 0px !important;
}
/* line 92, ../sass/_base.scss */
html .tab-bar.grid-tabs > li:first-child, .content .tab-bar.grid-tabs > li:first-child {
  margin-left: 0px;
}
/* line 93, ../sass/_base.scss */
html .tab-bar.grid-tabs > li > a, .content .tab-bar.grid-tabs > li > a {
  background-color: #fff;
}
/* line 95, ../sass/_base.scss */
html .tab-bar.grid-tabs > li > a.selected, .content .tab-bar.grid-tabs > li > a.selected {
  background-color: #e0e0e0;
  background: -ms-linear-gradient(top, #e0e0e0 0%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e0e0e0, endColorstr=#dfdfdf);
  background-image: -moz-linear-gradient(center top, #e0e0e0, #dfdfdf);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#dfdfdf));
  border-bottom: none;
}
/* line 101, ../sass/_base.scss */
html .tab-bar > li, .content .tab-bar > li {
  float: left;
  margin-right: 2px;
}
/* line 104, ../sass/_base.scss */
html .tab-bar > li:first-child, .content .tab-bar > li:first-child {
  margin-left: 2px;
}
/* line 108, ../sass/_base.scss */
html .tab-bar > li > a, .content .tab-bar > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  background-color: #f6f5f6;
  color: #555;
  text-decoration: none;
  border: 1px solid #c3c3c3;
  border-bottom: 0px;
  font-weight: bold;
  font-size: 1.15em;
}
/* line 120, ../sass/_base.scss */
html .tab-bar > li > a.selected, .content .tab-bar > li > a.selected {
  color: #363434;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
/* line 126, ../sass/_base.scss */
html .tab-bar > li > a.disabled, .content .tab-bar > li > a.disabled {
  pointer-events: none;
  cursor: default;
}
/* line 132, ../sass/_base.scss */
html .tab-bar-bottom, .content .tab-bar-bottom {
  border-top: 1px solid #c3c3c3;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  top: -1px;
}
/* line 141, ../sass/_base.scss */
html .form-link.delete-template, .content .form-link.delete-template {
  right: 7px;
  position: absolute;
  cursor: pointer;
}
/* line 146, ../sass/_base.scss */
html .form-link.delete-template.address-deletion, .content .form-link.delete-template.address-deletion {
  margin-top: 0;
}
/* line 149, ../sass/_base.scss */
html .form-link.delete-template.cell-button, .content .form-link.delete-template.cell-button {
  padding: 0;
  border: 0;
  margin-top: 2px;
  margin-right: 2px;
}
/* line 154, ../sass/_base.scss */
html .form-link.delete-template.cell-button.tall-row, .content .form-link.delete-template.cell-button.tall-row {
  margin-top: 5px;
  margin-left: 5px;
}
/* line 160, ../sass/_base.scss */
html .form-link:hover, .content .form-link:hover {
  text-decoration: underline;
}
/* line 161, ../sass/_base.scss */
html .form-link.add-column-link:visited, .content .form-link.add-column-link:visited {
  color: #005082;
}
/* line 167, ../sass/_base.scss */
html .box, .content .box {
  border: 1px solid #c3c3c3;
  clear: both;
  position: relative;
}
/* line 174, ../sass/_base.scss */
html .box.box-grid-module .header, .content .box.box-grid-module .header {
  font-size: 1.05em;
  font-family: Arial, Helvetica, clean, sans-serif;
  border-bottom: none;
}
/* line 180, ../sass/_base.scss */
html .box .header, .content .box .header {
  background-color: #f6f5f6;
  border-color: #c3c3c3;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-bottom-width: 2px;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 22px;
  padding-left: 10px;
}
/* line 182, ../sass/_base.scss */
html .box .header a, .content .box .header a {
  float: right;
  padding-right: 5px;
  font-size: .85em;
  font-weight: normal;
}
/* line 187, ../sass/_base.scss */
html .box .header a.form-link.link.add-column-link, .content .box .header a.form-link.link.add-column-link {
  position: absolute;
  right: 1px;
  top: 1px;
}
/* line 195, ../sass/_base.scss */
html .box .body, .content .box .body {
  padding: 10px 10px;
  font-size: 1.05em;
}
/* line 198, ../sass/_base.scss */
html .box .body .input-row, .content .box .body .input-row {
  margin-bottom: 10px;
  font-size: 95%;
}
/* line 201, ../sass/_base.scss */
html .box .body .input-row.last-row, .content .box .body .input-row.last-row {
  margin-bottom: 0;
}
/* line 202, ../sass/_base.scss */
html .box .body .input-row label, .content .box .body .input-row label {
  font-weight: bold;
  width: 120px;
}
/* line 206, ../sass/_base.scss */
html .box .body .input-row label select, .content .box .body .input-row label select {
  width: 90%;
}
/* line 208, ../sass/_base.scss */
html .box .body .input-row input, .content .box .body .input-row input {
  width: 310px;
}
/* line 211, ../sass/_base.scss */
html .box .body .input-row input.medium, .content .box .body .input-row input.medium {
  width: 197px;
}
/* line 212, ../sass/_base.scss */
html .box .body .input-row input.small, .content .box .body .input-row input.small {
  width: 117px;
}
/* line 214, ../sass/_base.scss */
html .box .body .input-row select, .content .box .body .input-row select {
  width: 314px;
  vertical-align: middle;
}
/* line 217, ../sass/_base.scss */
html .box .body .input-row select.medium, .content .box .body .input-row select.medium {
  width: 200px;
}
/* line 218, ../sass/_base.scss */
html .box .body .input-row select.small, .content .box .body .input-row select.small {
  width: 120px;
}
/* line 220, ../sass/_base.scss */
html .box .body .input-row span.medium select, .content .box .body .input-row span.medium select {
  width: 200px;
}
/* line 221, ../sass/_base.scss */
html .box .body .input-row.full-row input, html .box .body .input-row.full-row textarea, .content .box .body .input-row.full-row input, .content .box .body .input-row.full-row textarea {
  width: 650px;
}
/* line 224, ../sass/_base.scss */
html .box .body .input-row input, html .box .body .input-row select, .content .box .body .input-row input, .content .box .body .input-row select {
  font-size: 100%;
  min-width: 110px;
  margin: 0;
  margin-right: 10px;
  color: #363434;
}
/* line 230, ../sass/_base.scss */
html .box .body .input-row input#Name, html .box .body .input-row select#Name, .content .box .body .input-row input#Name, .content .box .body .input-row select#Name {
  position: relative;
  left: -2px;
}
/* line 235, ../sass/_base.scss */
html .box .body .input-row input[type="radio"], .content .box .body .input-row input[type="radio"] {
  width: 20px;
}
/* line 243, ../sass/_base.scss */
html .k-grid .delete-template, .content .k-grid .delete-template {
  position: relative;
  display: block;
  margin-top: -18px;
  right: 0px;
}
/* line 251, ../sass/_base.scss */
html .kendo-grid-module, .content .kendo-grid-module {
  margin-bottom: 20px;
}
/* line 253, ../sass/_base.scss */
html .kendo-grid-module .header, .content .kendo-grid-module .header {
  font-size: 1.15em !important;
}
/* line 258, ../sass/_base.scss */
html .strong, .content .strong {
  font-weight: bold;
}
/* line 262, ../sass/_base.scss */
html .info-icon, .content .info-icon {
  display: block;
  cursor: pointer;
  position: relative;
  top: 3px;
}
/* line 269, ../sass/_base.scss */
html .k-grid .info-icon, .content .k-grid .info-icon {
  top: 0;
  left: -3px;
}
/* line 275, ../sass/_base.scss */
html .datepicker, .content .datepicker {
  background-repeat: no-repeat;
  background-image: url("/Content/images/calendar-icon.png");
  background-position: right;
  background-position-y: -1px;
  background-size: 20px;
  cursor: pointer;
}
/* line 284, ../sass/_base.scss */
html .template, .content .template {
  display: none;
}
/* line 288, ../sass/_base.scss */
html select.disabled, html input.disabled, .content select.disabled, .content input.disabled {
  background-color: #ebebe4;
  border: 1px solid #c3c3c3;
  color: #a0a0a0 !important;
  cursor: default;
}
/* line 295, ../sass/_base.scss */
html .helper-text, .content .helper-text {
  color: #a0a0a0;
}
/* line 299, ../sass/_base.scss */
html .divider-line, .content .divider-line {
  border-top: 1px solid #CCC;
  margin-bottom: 15px;
  margin-top: 6px;
}
/* line 305, ../sass/_base.scss */
html .tab-container, .content .tab-container {
  display: none;
}
/* line 309, ../sass/_base.scss */
html .loader, .content .loader {
  background: url(/Content/images/loading-small.gif) center no-repeat;
  min-width: 20px;
  min-height: 20px;
}
/* line 315, ../sass/_base.scss */
html .loader-big, .content .loader-big {
  background: url(/Content/images/loading-big.gif) center no-repeat;
  min-width: 100px;
  min-height: 100px;
}
/* line 321, ../sass/_base.scss */
html .hidden, .content .hidden {
  display: none !important;
}
/* line 325, ../sass/_base.scss */
html .cleared, .content .cleared {
  clear: both;
}
/* line 329, ../sass/_base.scss */
html .checkbox, html input[type="checkbox"], html input[type="radio"], .content .checkbox, .content input[type="checkbox"], .content input[type="radio"] {
  border: none;
}
/* line 333, ../sass/_base.scss */
html .no-padding, .content .no-padding {
  padding: 0px !important;
}
/* line 337, ../sass/_base.scss */
html li.no-bullet, .content li.no-bullet {
  list-style: none;
}
/* line 341, ../sass/_base.scss */
html .mag-glass, .content .mag-glass {
  background-image: url("/Content/Images/misc-icons-sprite.png");
  background-position: 46px 0;
  height: 14px;
  width: 14px;
  display: inline-block;
  position: relative;
  right: 32px;
  top: 5px;
  cursor: pointer;
}
/* line 353, ../sass/_base.scss */
html input[type="button"], .content input[type="button"] {
  border: 2px outset buttonface;
}
/* line 357, ../sass/_base.scss */
html .search-box-with-placeholder, .content .search-box-with-placeholder {
  position: relative;
  width: 374px;
  height: 22px;
}
/* line 365, ../sass/_base.scss */
html .search-popup .search-box-with-placeholder .search-box, .content .search-popup .search-box-with-placeholder .search-box {
  width: 370px;
}
/* line 371, ../sass/_base.scss */
html .input-and-placeholder, .content .input-and-placeholder {
  position: relative;
}
/* line 374, ../sass/_base.scss */
html .placeholder-text, .content .placeholder-text {
  color: #a0a0a0;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 5px;
}
/* line 382, ../sass/_base.scss */
html .placeholder-text.main-search, .content .placeholder-text.main-search {
  font-size: 1.05em;
}
/* line 387, ../sass/_base.scss */
html .impersonationOffset, .content .impersonationOffset {
  line-height: 1.5em;
}
/* line 390, ../sass/_base.scss */
html .badge, .content .badge {
  line-height: 1.5em;
}
/* line 394, ../sass/_base.scss */
html .expander, html .collapser, .content .expander, .content .collapser {
  cursor: pointer;
}
/* line 396, ../sass/_base.scss */
html .icon-spacer, .content .icon-spacer {
  visibility: hidden;
}
/* line 398, ../sass/_base.scss */
html .inactive, .content .inactive {
  color: #ea2839;
}

/* line 405, ../sass/_base.scss */
#left-navigation.sliderMenuContainer li.pager {
  border-left: none;
  border-right: none;
}
/* line 409, ../sass/_base.scss */
#left-navigation .linkItem.pager .tab-cell {
  background: inherit;
}
/* line 411, ../sass/_base.scss */
#left-navigation .linkItem.pager .tab-cell:hover {
  background-color: #646565;
}
/* line 415, ../sass/_base.scss */
#left-navigation .selectedLinkItem .tab-cell {
  background: #009ac8 !important;
}
