[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
_ReSharper*
*.dbmdl
.sass-cache
*.Web/SASS/*.css
*.Web/Coffee/*.js
debug/
/packages/*
!packages/repositories.config
*.orig
*.StyleCop
WebEssentials-Settings.json
