/* Colors */

$linkColor: #005082;
$borderColor: #c3c3c3;
$mainFontColor: #363434;
$subFontColor: #8a8a8a;
$inactive: #a0a0a0;
$error: #ea2839;
$modifiedDark: #ea9f29;
$modifiedLight: #fef4e7;
$hoverColor: #eeecb6;
$moduleHeaderBackground: #f6f5f6;
//Let's get some functional names for these 
$standardGrey1: #eeefef;
$standardGrey1Dark: #e0e0e0;
$standardMidGrey: #dfdfdf;
$standardGrey2: #cfcfcf;
$accentBlue: #009AC8;

/* Fonts */

$standardFontFamily: Arial,Helvetica,clean,sans-serif;

/* Grid */

$gridHover: #eeecb6;